<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>loginPage</title>
    <link rel="stylesheet" href="/styles/login.css"
</head>
<body>
    <div class="modal">
        <div class="title-modal">
            <h1>Your Logo</h1>
            <h2>Login</h2>
        </div>  
        <div class="inputs">
            <div class="email-input">
                <p>E-mail</p>
                <input type="email" class="input-code" placeholder="username@gmail.com">
            </div>
            <div class="password-input">
                <p>Password</p>
                <input type="text" class="input-code" placeholder="Password">
             </div>
             <p>Forgot Password?</p>
        </div>
        <button class="button-sign">Sign In</button>
        <p>or continue with</p>
        <div class="midia-buttons"> 
            <a class="social-midia-buttons"><img class="icon-google" src="/assets/icons/icons-google.svg" alt="Logo da Google"></a>
            <a class="social-midia-buttons"><img class="icon-git" src="/assets/icons/icons_github.svg" alt="icon-gitHub"></a>
            <a class="social-midia-buttons" href="https://www.facebook.com/login/?privacy_mutation_token=eyJ0eXBlIjowLCJjcmVhdGlvbl90aW1lIjoxNzAzMjUwOTM2LCJjYWxsc2l0ZV9pZCI6MjY5NTQ4NDUzMDcyMDk1MX0%3D"><img class="icon-facebook" src="/assets/icons/icons-facebook.svg" alt="icon-Face"></a>
        </div>
        <p>Don’t have an account yet? <a href="/views/register.html">Register for free</a></p>
    </div>
    <img class="bird" src= "/assets/bird.png" alt="bird">
</body>
</html>