* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 64px;
    background-image: url(/assets/background.png);
}

.modal{
    margin: 100px 50px;
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 641px;
    height: 835px;
    flex-shrink: 0;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.30);
    backdrop-filter: blur(15px);
}

.inputs{
    display: flex;
    flex-direction: column;
    gap:32px
}

.input-code{
 width: 400px;
 height: 50px;
 flex-shrink: 0;
}

.button-sign{
    color: #FFF;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 400px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #F25019;    
}

.social-midia-buttons{
 background-color: #ffffff;
 width: 125px;
 height: 50px;
 flex-shrink: 0;
}

.bird{
    width: 948px;
    height: 834px;
    margin: 123px 100px 123px;
}

